
@{
    ViewBag.Title = "Yetkisiz Erişim";
}

<div class="container mt-5" style="width: 50%">
    <div class="row">
        <div class="col-md-8 offset-2">

            <h1>
                <i class="fas fa-exclamation-triangle"></i> Yetkisiz Erişim !
            </h1>

            <p>
                Bu sayfaya erişim yetkiniz bulunmamaktadır !
                <br />
                @Bootstrap.LinkButton("/Home/Index", "primary", "btn-sm mt-2", "Anasayfa", "fas fa-home", "Ana sayfaya git")
            </p>

        </div>
    </div>
</div>