
<footer class="py-5 bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h6 style="color: gray">
                    Site Haritası
                </h6>
                <hr class="cizgi" />
                <p>
                    <a href="/Home/About">
                        <i class="far fa-question-circle"></i>
                        Hakkımda
                    </a><br />
                    <a href="/Home/MostLiked">
                        <i class="far fa-thumbs-up"></i>
                        En Beğenilenler
                    </a><br />
                    <a href="/Home/Index">
                        <i class="fas fa-list-ul"></i>
                        Son Yazılar
                    </a><br />
                </p>
            </div>
            <div class="col-lg-4 text-center">
                <h6 style="color: gray">
                    MyEvernote
                </h6>
                <hr />
                <p class="m-0 text-center text-white">Tüm hakları Saklıdır &copy; Enis Berge @DateTime.Now.Year</p>
            </div>
            <div class="col-lg-4">
                <h6 style="color: gray">
                    İletişim
                </h6>
                <hr />
                <div style="color: white">
                    <i class="fab fa-facebook"></i> facebook.com/enis.berge
                    <br />
                    <i class="fas fa-envelope-open"></i> enisberge@gmail.com
                </div>

            </div>

        </div>

    </div>
    <!-- /.container -->
</footer>